@import url("main/variables.css");
@import url("main/common.css");
@import url("components/header.css");
@import url("components/form.css");
@import url("components/card.css");

.lpp_recipes-list {
  margin-top: 55px;
  display: grid;
  grid-template-columns: repeat(3, 380px);
}
