/*************************************************/
/*************** Font Declarations ***************/
/*************************************************/
@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/manrope/Manrope-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/manrope/Manrope-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/manrope/Manrope-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Anton";
  src: url("./assets/fonts/anton/Anton-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*************************************************/
/*********** CSS Variables Declaration ***********/
/*************************************************/

:root {
  --font-color-primary: #000000;
  --font-color-secondary: #FFFFFF;
  --font-color-tertiary: #FFD15B;

  --acent-color-primary: #C6C6C6;

  --background-color-primary: #FFFFFF;
  --background-color-secondary: #000000;
  --background-color-tertiary: #1B1B1B;
  --background-color-quaternary: #FFD15B;
  --background-color-fifth: #EDEDED;
}

/************************************************/
/***************** Common Style *****************/
/************************************************/

body {
  font-family: "Manrope", sans-serif;
  background-color: var(--background-color-fifth);
  min-height: 100vh;
}

h1, h2, h3 {
  font-family: "Anton", sans-serif;
}

main {
  max-width: 75%;
}

/* Overwrite some bootstrap classes */
.btn-light {
  background-color: var(--background-color-primary);
}

/* Website Logo */
.lpp-main_website-title {
  font-size: 1.75rem;
  text-decoration: none;
  color: var(--font-color-secondary);
}

.lpp-main_website-logo {
  display: block;
  width: 1.375rem;
  height: 1.375rem;
  padding: 2px;
}

.lpp-main_website-logo-layer {
  display: block;
  width: 100%;
  height: 100%;
  padding: 2px;
}

/** Select styles **/
.lpp-main_select-container {
  min-width: 195px;
  margin-right: 66px;
}
.lpp-main_select-container button {
  display: flex;
  align-items: center;
  border-bottom: transparent;
  padding: 16px;
  width: 100%;
  z-index: 5;
}
.lpp-main_select-container .lpp_select-content {
  display: none;
  align-items: center;
  flex-direction: column;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  background: var(--background-color-primary);
  padding: 16px;
  width: 100%;
}
.lpp-main_select-container .lpp_select-list li {
  width: 100%;
  padding: 6px 0;
}

.lpp-main_select-container .lpp_select-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
}
.lpp-main_select-container.active .lpp_select-content {
  display: block;
  box-sizing: border-box;
}

.lpp-main_select-container.active button {
  border-bottom-left-radius: 0;
  border-bottom-right-radius:  0;
}
.lpp-main_select-container button svg {
  transition: transform ease-in-out 0.1s;
}
.lpp-main_select-container.active button svg {
  transform: rotate(180deg);
}

.lpp-main_select-search-input {
  display: flex;
  align-items: center;
  border: 1px solid var(--acent-color-primary);
  border-radius: 2px;
  padding-right: 8px;
  width: 163px;
}
.lpp-main_select-search-input input {
  color: var(--acent-color-primary);
  border: none;
  padding: 8px;
  display: block;
  width: 100%;
}
.lpp-main_select-search-input svg {
  color: var(--acent-color-primary);
  width: 0.8438rem;
}