/** Select styles **/
.lpp_select-container {
  position: relative;
  min-width: 195px;
  margin-right: 66px;
}
.lpp_select-container button {
  display: flex;
  align-items: center;
  border-bottom: transparent;
  padding: 16px;
  width: 100%;
}
.lpp_select-container .lpp_select-content {
  position: absolute;
  display: none;
  align-items: center;
  flex-direction: column;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  background: var(--background-color-primary);
  padding-bottom: 16px;
  width: 100%;
  z-index: 2;
}
.lpp_select-container .lpp_select-list li {
  width: 100%;
  padding: 6px 16px;
  transition: background-color ease-in-out 0.15s;
  order: 1;
}
.lpp_select-container .lpp_select-list li:hover {
  cursor: pointer;
  background-color: var(--background-color-fifth);
}

.lpp_select-container .lpp_select-list li[aria-selected="true"] {
  background-color: var(--background-color-quaternary);
  order: 0;
}
.lpp_select-container .lpp_select-list li[aria-selected="true"]:not(:has(~ [aria-selected="true"])) {
  margin-bottom: 12px;
}

.lpp_select-container .lpp_select-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin: 0;
}
.lpp_select-container.active .lpp_select-content {
  display: block;
  box-sizing: border-box;
  max-height: 310px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
}

.lpp_select-container.active button {
  border-bottom-left-radius: 0;
  border-bottom-right-radius:  0;
}
.lpp_select-container button svg {
  transition: transform ease-in-out 0.1s;
}
.lpp_select-container.active button svg {
  transform: rotate(180deg);
}

.lpp_select-search-input {
  display: flex;
  align-items: center;
  border: 1px solid var(--accent-color-primary);
  border-radius: 2px;
  padding-right: 8px;
  width: 163px;
  margin: 16px;
}
.lpp_select-search-input input {
  color: var(--accent-color-primary);
  border: none;
  padding: 8px;
  display: block;
  width: 100%;
}
.lpp_select-search-input svg {
  color: var(--accent-color-secondary);
  width: 1rem;
}

/* Header form styles */
.lpp_form-control {
  background-color: var(--background-color-primary);
  border-radius: 11px;
  padding: 11px;
  flex-wrap: nowrap;
}

.lpp_form-control input {
  border: none;
  width: 100%;
  padding: 0 24px;
}

.lpp_form-search-cta {
  transition: all ease-in-out 0.2s;
  height: 51px;
  border: none;
  background-color: var(--background-color-tertiary);
}

.lpp_form-search-cta:hover, .lpp_form-search-cta:focus-visible {
  background-color: var(--background-color-quaternary);
}

.lpp_form-search-cta:active {
  background-color: var(--background-color-quaternary) !important;
  filter: brightness(0.9);
}

#lpp_selected-tags-container li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}